<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jouer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {{ fontawesome_html() }}
</head>

<body>

    <div>
        <h1 class="center"> PARTIE D'ECHEC</h1>

        <p id="turn" class="center"></p>
        <p id="play" class="center"></p>
        
        <table id="table" class="centerBoard">
            {% for i in range(0, board) %}
                <tr>
                {% for j in range(0, board) %}
                    <td 
                        class="cell {% if i % 2 == 0: %}{% if j % 2 == 0: %}white{% else %}black{% endif %}cell{% else %}{% if j % 2 == 0: %}black{% else %}white{% endif %}cell{% endif %}"
                        id="L{{i}}-C{{j}}">
                        <i class="fas fa-chess-" id="line{{i}} case{{j}}" ></i>
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>